.ml{
    margin-left: 700px;
    float: left !important;
    font-size: 20px;

}
/* ----------------------------------------------------------
                    ROOT SECTION
------------------------------------------------------------- */
:root{
    --blue :#18b7be;
    --whitesmoke :#F9F7F0;
    --navy_blue :#178cA4;
    --Deep_blue :#072A40;
}

/* ----------------------------------------------------------
                    NAVBAR SECTION
------------------------------------------------------------- */
.kudas{
    border-bottom: 15px solid #18b7be;
    border-radius: 30px;
    font-size: 40px;
}
#home{
    color:#18b7be;
}
#link1:hover{
    color: #18b7be;
}
#link2:hover{
    color: #18b7be;
}
#search:hover{
    color: white;

}
#carousel{
    padding: 20px !important;
    /* background-color: ; */
    border-radius: 0px;
    background-color:var(--blue);
    border: none;
    border-radius:3;

}
#image_1{
    max-width: 100%;
    background-size: cover;
    background-position: center;
    height: fit-contet;
    height: 100vh;
    width: 100%;

}
@media screen and (max-width:650px) {
    #image_1{
        width: 100%;
        height: fit-content;
        display: block;
    }
    
}
/* @media screen (max-width:850;) { */

    
/* } */
/* ----------------------------------------------------------
                    WORD ON BACKGROUND SECTION
------------------------------------------------------------- */
#kudas{
    background-color: var(--whitesmoke);
    color: black;
    padding: 50px;
    border-top: 5px solid var(--blue);
    border-radius: 10px;
    max-width: 100%;
    position: relativ;
    
}
@media screen and(max-width:768px) {
    #kudas{
        display: inline-block;
        width: 100%;
        position: relative;
    }
    
}
#kudas h5{
    font-weight: bold;
    font-size: 1.6vw;
}

#ReadMore{
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
    text-transform: capitalize;
    transition-duration: 2s;
    transition-property: all;
    transition-timing-function: all;
}
#ReadMore:hover{
    background-color: var(--blue);
    padding:16px 31px ;
}


#footer{
    background-color:var(--blue) ;
}
/* ----------------------------------------------------------
                    CONTACT BAC SECTION
------------------------------------------------------------- */

